@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#AnimatedTitle {
  --bg-size: 400%;
  --color-one: #06b6d4;
  --color-two: #14b8a6;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
  ) 0 0 / var(--bg-size) 100%;
  animation: move-bg 4s infinite linear;
  color: transparent;
  -webkit-background-clip: text;
}

@keyframes move-bg {
  to {
      background-position: var(--bg-size) 0;
  }
}

@font-face {
  font-family: "burtons";
  src: url('../public/Burtons.otf')
}